@model TabloidMVC.Models.ViewModels.CommentViewModel

@{
    ViewData["Title"] = "Comments";
}

<h1>Comments</h1>

<p>
    <a asp-action="AddComment" asp-route-id="@Model.PostId">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Comments[0].UserProfile.DisplayName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments[0].Subject)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments[0].Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comments[0].CreateDateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Comments) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserProfile.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDateTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@Model.Comments[0].Id" class="btn btn-outline-primary mx-1" title="Edit">
                    <i class="fas fa-pencil-alt"></i>
                </a>
                <a asp-action="Delete" asp-route-id="@Model.Comments[0].Id" class="btn btn-outline-primary mx-1" title="Delete">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
